.indiv-works {
    width: 100vw;
    height: 100vh;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        z-index: -1;
        filter: blur(5px);
    }

    .work-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .indiv-works-logo {
        width: 70px;
        height: auto;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    @keyframes scaleHover {
        100% {
            transform: scale(1.5);
        }
    }

    .indiv-works-logo:hover {
        animation: scaleHover 0.5s forwards;
    }

    .links-container {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a:hover {
            animation: scaleHover 0.5s forwards;
        }

        img {
            width: 30px;
            height: auto;
        }

        a {
            margin: 0.5rem;
        }

        .tabs:hover {
        animation: scaleHover 0.5s forwards;
        background-color: white;
        a {
            color: rgb(50, 0, 0);
        }
    }

    }

    .home-nav {
        color: white;
        text-align: right;
    }

    .work-details {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        h1 {
            margin: 0;
            color: white;
        }
    }

    .feat-about,
    .feat-reflect {
        text-align: left;
    }

    .feat-name {
        transform: scale(1.1);
    }

    .techs {
        text-align: left;
    }

    .tabs-container {
        color: white;
        height: 70%;
        margin: 0 1rem;
    }

    .tab-nav {
        display: flex;
        margin: 0;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;

        .tab-content {
            height: 85%;
            overflow: scroll;
            background-color: #222222e0;
            color: white;

            h2,
            h3,
            h4 {
                text-shadow: none;
                color: white;
            }
        }

        .tab-buttons-container {
            height: 15%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            color: black;
            background-color: transparent;

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0;

                .tab-button {
                    background-color: #000000e0;
                    color: #777777;
                    padding: 1rem;
                    font-size: 18px;
                    width: 5rem;
                    margin-right: 1rem;
                }

                .tab-button.active {
                    background-color: #222222e0;
                    color: white;
                }
            }
        }

        .content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .content {
                display: flex;
                align-items: flex-start;
                padding: 0 2rem;
                overflow: scroll;
                flex-direction: column;
    
                .indiv-content {
                }
            }
        }

    }

    .coming-soon-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            margin: 0;
        }
    }


    .indiv-work-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: blur(.5rem) brightness(.3);
        box-shadow: 5px 5px 15px #000;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .tabs {
        margin: 1rem;
        padding: 1rem;
        width: 10rem;
        color: black;
    }
}

@media (min-width: 50em) {
    .indiv-works {
        .feat-tech {
            display: flex;
        }
    }
}
