.indiv-works {
    .home-nav {
        color: white;
        text-align: right;
    }
    .work-details {
        h1,
        p {
            color: white;
            text-align: center;
        }
    }

}
