
.works-container {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2,
    h3 {
        color: white;
    }

    article {

        text-align: center;
        margin: 5rem;
        border: solid 3px #eee;
        width: 300px;
        height: auto;
        padding: 1rem;

        p {
            color: white
        };
    }

    .read-more {
        width: 8rem;
        height: 2rem;
        margin: 2rem auto;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50rem;
    }

    a {
        text-decoration: none;
    }
}
