
.works-container {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2,
    h3 {
        color: white;
    }

    .image {
        width: 250px;
        height: 200px;
        background-color: white;
        margin: 0 auto;
    }

    article p {
        color: white;
    }
}
