
.works-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,1,40,1) 50%, rgba(0,0,0,1) 100%);
    margin: 3rem auto;
    box-shadow: 5px 5px 15px #000;

    h2,
    h3,
    p {
        color: white;
        text-align: center;
    }

    h3 {
        font-size: 1.5rem;
    }

    article {

        margin: 5rem auto;
        max-width: 31.25rem;
        padding: 1rem;

        p {
            color: white
        };
    }

    .button,
    .read-more {
        width: 8rem;
        height: 2rem;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(50, 0, 0);
        padding: 0.5rem;
        border-radius: 50rem;
        box-shadow: 0px 5px 10px #000;
        color: white;
    }

    a {
        text-decoration: none;
    }

    @keyframes worksHover {
        100% {
            transform: scale(1.1);
        }
    }

    .works-link {
        width: 80%;
        max-width: 31.25rem;
    }

    .works-link:hover {
        animation: worksHover 0.5s forwards;
    }

    .work-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: blur(.05rem) brightness(.3);
        box-shadow: 5px 5px 15px #000;
    }

    .placeholder-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: blur(.05rem) brightness(.3);
        box-shadow: 5px 5px 15px #000;
    }
}
