.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;

    .about-description {
        margin: 1rem;
        max-width: 31.25rem;
    }
    
    h3,
    p {
        color: white;
    }

    h3 {
        margin: 1rem;
    }

    .title h2 {
        text-align: center;
        color: white;
    }

    .portfolio-img {
        width: 200px;
        height: auto;
        box-shadow: 5px 5px 15px #000;
    }

    .skills {
        margin-top: 3rem;
    }

    .skill-container { 
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        img {
            width: 50px;
            height: auto;
        }

        .indiv-skill-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 10rem;
        }
    
        .indiv-skill-container:hover {
            transform: scale(1.2);
        }
    }


    img {
        margin: 1rem;
    }
}

@media (min-width: 50rem) {
    .about-container {
        margin: 3rem auto;
        max-width: 50rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            "title title"
            "image desc"
            "skills skills";

        .title {
            grid-area: title;
        }

        .portfolio-img {
            grid-area: image;
        }

        .about-description {
            grid-area: desc;
        }

        .skills {
            grid-area: skills;
        }
    }
}