footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    color: white;
    border-top: 2px solid white;

    ul {
        list-style: none;
        padding: 0;
    }

    .footer-logo {
        width: 100px;
        height: 100px;
        background-color: white;  
    }

    .socials-container {
        display: flex;
    }

    .socials {
        width: 50px;
        height: 25px;
        border-radius: 50rem;
        background-color: white;
        margin: 0.5rem;
    }
}

.copyright {
    color: white;
    text-align: center;
    border-top: solid 1px rgb(10, 10, 10);
    padding: 1rem;
    margin: 0;
}