footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    color: white;
    border-top: 1px solid #eee;

    ul {
        list-style: none;
        padding: 0;
    }

    .footer-logo {
        width: 100px;
        height: 100px;
    }

    .socials-container {

        img {
            width: 2rem;
            height: auto;
            margin: 1rem;
        }
    }
}

.copyright {
    color: white;
    text-align: center;
    border-top: solid 1px rgb(10, 10, 10);
    padding: 1rem;
    margin: 0;
}