// mobile nav

.mobile-nav {
    position: fixed;
    z-index: 9999;
}

.menu-container {
    position: relative;
}

// dropdown menu

.dropdown-menu {
    // display: none;


    text-align: center;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
    }

    li {
        position: absolute;
        top: 0;
        transform: translate( 5px, -40px);
        z-index: -1;
    }

    a,
    a:visited {
        text-decoration: none;
        color: white;
    }
}

// menu icon
.menu-icon {
    z-index: 10;
}

.circle {
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: #eeeeee;
}

// animations and keyframes for nav bar - TOP LEFT
@keyframes top-left-home {
    100% {
        transform: translate( 60px, -70px);
    }
}

@keyframes top-left-works {
    100% {
        transform: translate( 70px, -35px );
    }
}

@keyframes top-left-about {
    100% {
        transform: translate( 60px, -5px );
    }
}

@keyframes top-left-contact {
    100% {
        transform: translateY( 15px );
    }
}

.dropdown-menu.top-left {

    ul {
        .home {
            animation: top-left-home 0.5s forwards;
        }
        
        .works {
            animation: top-left-works 0.5s forwards;
        }

        .about {
            animation: top-left-about 0.5s forwards;
        }

        .contact {
            animation: top-left-contact 0.5s forwards;
        }
    }
}

// animations and keyframes for nav bar - TOP MIDDLE

@keyframes top-middle-home {
    100% {
        transform: translate( -45px, -20px);
    }
}

@keyframes top-middle-works {
    100% {
        transform: translate( -25px, 15px);
    }
}

@keyframes top-middle-about {
    100% {
        transform: translate( 40px, 15px);
    }
}

@keyframes top-middle-contact {
    100% {
        transform: translate( 65px, -20px);
    }
}

.dropdown-menu.top-middle {
    ul {
        .home {
            animation: top-middle-home 0.5s forwards;
        }
        
        .works {
            animation: top-middle-works 0.5s forwards;
        }

        .about {
            animation: top-middle-about 0.5s forwards;
        }

        .contact {
            animation: top-middle-contact 0.5s forwards;
        }
    }
}

// animations and keyframes for nav bar - TOP RIGHT

@keyframes top-right-home {
    100% {
        transform: translate( -60px, -70px);
    }
}

@keyframes top-right-works {
    100% {
        transform: translate( -70px, -35px);
    }
}

@keyframes top-right-about {
    100% {
        transform: translate( -60px, -5px);
    }
}

@keyframes top-right-contact {
    100% {
        transform: translateY( 15px);
    }
}

.dropdown-menu.top-right {
    ul {
        .home {
            animation: top-right-home 0.5s forwards;
        }
        
        .works {
            animation: top-right-works 0.5s forwards;
        }

        .about {
            animation: top-right-about 0.5s forwards;
        }

        .contact {
            animation: top-right-contact 0.5s forwards;
        }
    }
}

// animations and keyframes for nav bar - MIDDLE

.dropdown-menu.middle {

}

// animations and keyframes for nav bar - BOTTOM MIDDLE

@keyframes bottom-middle-home {
    100% {
        transform: translate( -45px, -40px);
    }
}

@keyframes bottom-middle-works {
    100% {
        transform: translate( -25px, -75px);
    }
}

@keyframes bottom-middle-about {
    100% {
        transform: translate( 40px, -75px);
    }
}

@keyframes bottom-middle-contact {
    100% {
        transform: translate( 65px, -40px);
    }
}

.dropdown-menu.bottom-middle {
    ul {
        .home {
            animation: bottom-middle-home 0.5s forwards;
        }
        
        .works {
            animation: bottom-middle-works 0.5s forwards;
        }

        .about {
            animation: bottom-middle-about 0.5s forwards;
        }

        .contact {
            animation: bottom-middle-contact 0.5s forwards;
        }
    }
}

// animations and keyframes for nav bar - BOTTOM LEFT

@keyframes bottom-left-home {
    100% {
        transform: translateY( -85px );
    }
}

@keyframes bottom-left-works {
    100% {
        transform: translate( 60px, -70px);
    }
}

@keyframes top-left-works {
    100% {
        transform: translate( 70px, -35px );
    }
}

@keyframes bottom-left-about {
    100% {
        transform: translate( 70px, -35px );
    }
}

@keyframes top-left-about {
    100% {
        transform: translate( 60px, -5px );
    }
}

@keyframes bottom-left-contact {
    100% {
        transform: translate( 60px, -5px );
    }
}

@keyframes top-left-contact {
    100% {
        transform: translateY( 15px );
    }
}

.dropdown-menu.bottom-left {

    ul {
        .home {
            animation: bottom-left-home 0.5s forwards;
        }
        
        .works {
            animation: bottom-left-works 0.5s forwards;
        }

        .about {
            animation: bottom-left-about 0.5s forwards;
        }

        .contact {
            animation: bottom-left-contact 0.5s forwards;
        }
    }

}

// animations and keyframes for nav bar - BOTTOM RIGHT

@keyframes bottom-right-home {
    100% {
        transform: translateY( -85px );
    }
}

@keyframes bottom-right-works {
    100% {
        transform: translate( -60px, -70px);
    }
}

@keyframes bottom-right-about {
    100% {
        transform: translate( -70px, -35px);
    }
}

@keyframes bottom-right-contact {
    100% {
        transform: translate( -60px, -5px);
    }
}

.dropdown-menu.bottom-right {

    ul {
        .home {
            animation: bottom-right-home 0.5s forwards;
        }
        
        .works {
            animation: bottom-right-works 0.5s forwards;
        }

        .about {
            animation: bottom-right-about 0.5s forwards;
        }

        .contact {
            animation: bottom-right-contact 0.5s forwards;
        }
    }

}

.desktop-nav {
    position: fixed;
    right: 1rem;
    top: 30%;
    z-index: 9999;

    nav {
        text-align: center;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 20rem;
            li {
                margin: 1rem;
                a {
                    background-color: red;
                    text-decoration: none;
                    width: 70px;
                    height: 2rem;
                    display: flex;
                    color: white;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

// media query to get rid mobile nav when over 800px viewport width
@media (min-width: 50rem) {

    .dropdown-menu.top-left,
    .dropdown-menu.top-middle,
    .dropdown-menu.top-right,
    .dropdown-menu.bottom-left,
    .dropdown-menu.bottom-middle,
    .dropdown-menu.bottom-right {
        ul {
            .home {
                animation: unset;
            }
            
            .works {
                animation: unset;
            }
    
            .about {
                animation: unset;
            }
    
            .contact {
                animation: unset;
            }
        }
    }

    .dropdown-menu {
        position: fixed;
        ul {
            position: unset;
            li {
                position: unset;
            }
        }
    }

    .menu-icon {
        display: none;
    }
}